<%- include("../partials/header"); %> 
<h1>餐廳後台</h1>
<a href='/admin/restaurants'>Restaurant</a> || 
<a href='/admin/categories'>Category</a> || 
<a href="/admin/users">Users</a>
<br/>
<br/>
<a href='/admin/restaurants/create' class="btn btn-primary">New Restaurant</a>
<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
  <form action="/admin/categories" method="POST">
    <input type="text" placeholder="類別名稱" name="name">
    <button type="submit">Submit</button>
  </form>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    <% restaurants.forEach(restaurant => { %> 
    <tr>
        <th scope="row"><%= restaurant.id %></th>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.Category.name %></td>
        <td>
            <button type="button" class="btn btn-link">
            <a href="/admin/restaurants/<%= restaurant.id %>">
                Show
            </a>
            </button>
            <button type="button" class="btn btn-link">
            <a href="/admin/restaurants/<%= restaurant.id %>/edit">
                Edit
            </a>
            </button>
            <form action="/admin/restaurants/<%= restaurant.id %>?_method=DELETE" method="POST" style="display: inline;">
              <button type="submit" class="btn btn-link">Delete</button>
            </form>
        </td>
    </tr>
    <% }) %> 
  </tbody>
</table>
<%- include("../partials/footer"); %> 