<%- include("./partials/header"); %>
<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
      <a class="nav-link active" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="/restaurants/feeds">最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/top">TOP10 人氣餐廳</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/top">美食達人</a>
  </li>
</ul>
<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link <%= categoryId === "" ? "active" : "" %>" href="?categoryId=">全部</a>
    </li>
    <% categories.forEach(category=>{ %> 
        <li class="nav-item">
            <a class="nav-link <%= category.id === parseInt(categoryId) ? "active" : "" %>" href="?categoryId=<%= category.id %>"><%= category.name %></a>
        </li>
    <% }) %>
</ul>
<br/>
<div class="row">
    <% restaurants.forEach(restaurant => { %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="<%= restaurant.image %> " alt="Card image cap" width="286px" height="180px">
          <div class="card-body">
            <p class="card-text">
              <a href="/restaurants/<%= restaurant.id %>">
                <%= restaurant.name %>
              </a>
            </p>
            <span class="badge badge-secondary"><%= restaurant.categoryName %></span>
            <p class="card-text"><%= restaurant.description %></p>
            <div class="d-flex">
              <% if(restaurant.isFavorited){ %> 
                <form action="/favorite/<%= restaurant.id %>?_method=DELETE" method="POST" class="mr-2">
                  <button type="submit" class="btn btn-danger">移除最愛</button>
                </form>
              <% }else{ %> 
                <form action="/favorite/<%= restaurant.id %>" method="POST" class="mr-2">
                  <button type="submit" class="btn btn-primary">加到最愛</button>
                </form>
              <% } %>
              <% if(restaurant.isLike){ %> 
                <form action="/like/<%= restaurant.id %>?_method=DELETE" method="POST" class="mr-2">
                  <button type="submit" class="btn btn-danger">Unlike</button>
                </form>
              <% }else{ %>  
                <form action="/like/<%= restaurant.id %>" method="POST" class="mr-2">
                  <button type="submit" class="btn btn-primary">Like</button>
                </form> 
              <% } %>
            </div> 
          </div>
      </div>
    </div>
    <% }); %>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="/restaurants?page=<%= prev %>&categoryId=<%= categoryId %>" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <% totalPage.forEach(num => { %>
      <% if(num === page){ %> 
        <li class="page-item active">
          <a class="page-link" href="#">
            <%= num %> 
          </a>
        </li>
      <% }else{ %> 
        <li class="page-item">
          <a class="page-link" href="/restaurants?page=<%= num %>&categoryId=<%= categoryId %>">
            <%= num %>
          </a>
        </li>
      <% } %> 
    <% }) %>
    <li>
      <a class="page-link" href="/restaurants?page=<%= next %>&categoryId=<%= categoryId %>" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
  <br />
  <br />
<%- include("./partials/footer"); %> 