<%- include("../partials/header"); %>
<div class="card">
    <div class="row no-gutters">
      <div class="col-md-5">
        <img src="<%= userData.image %>" class="card-img" alt="test" style="width: 400px;height: 420px;">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title"><%= userData.name %></h5>
          <p class="card-text"><%= userData.email %></p>
          <% if(user.id === userData.id){ %> 
          <p class="card-text">
              <a href="/users/<%= userData.id %>/edit" class="btn btn-primary">Edit</a>
          </p>
          <% } %> 
        </div>
      </div>
    </div>
</div>
<div class="card mt-3">
  <h5 class="card-header">評論過  <strong><%= commentsNum %> </strong> 間餐廳</h5>
  <div class="card-body d-flex">
    <% comments.forEach(comment=>{ %> 
      <a href="/restaurants/<%= comment.Restaurant.id %>" class="mr-4">
        <img src="<%= comment.Restaurant.image %>" class="card-img" alt="test" style="width: 80px;height: 80px;">
      </a>
    <% }) %> 
  </div>
</div>
<div class="card mt-3">
  <h5 class="card-header">收藏  <strong><%= favoritedRestaurantsNum %> </strong> 間餐廳</h5>
  <div class="card-body d-flex">
    <% userData.FavoritedRestaurants.forEach(favorite=>{ %> 
      <a href="/restaurants/<%= favorite.id %>" class="mr-4">
        <img src="<%= favorite.image %>" class="card-img" alt="test" style="width: 80px;height: 80px;">
      </a>
    <% }) %> 
  </div>
</div>
<div class="card mt-3">
  <h5 class="card-header">追蹤  <strong><%= followingsNum %> </strong> 人</h5>
  <div class="card-body d-flex">
    <% userData.Followings.forEach(following=>{ %> 
      <a href="/users/<%= following.id %>" class="mr-4">
        <img src="<%= following.image %>" class="card-img" alt="test" style="width: 80px;height: 80px;">
      </a>
    <% }) %> 
  </div>
</div>
<div class="card mt-3">
  <h5 class="card-header">被  <strong><%= followersNum %> </strong> 人追蹤</h5>
  <div class="card-body d-flex">
    <% userData.Followers.forEach(follower=>{ %> 
      <a href="/users/<%= follower.id %>" class="mr-4">
        <img src="<%= follower.image %>" class="card-img" alt="test" style="width: 80px;height: 80px;">
      </a>
    <% }) %> 
  </div>
</div>
<%- include("../partials/footer"); %> 